# Dependencies
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Cloudflare & Secrets
.wrangler/
.env
worker.js
.worker

# Editor Settings
.vscode/
.idea/

# Reports
lighthouse-report.report.html
lighthouse-report.report.json

# Future Projects
cs2-ai-companion/
jpg and pngs/